<div class="header-search">
  <div class="inner-header-search">
    <div class="column">
      <div class="row">
        <a routerLink="/">
          <img src='https://sun9-25.userapi.com/impf/x9tP8PrUkimFwqYp7iUin5dR8WsXq63vAFADOA/uQ3yM4J-3jc.jpg?size=690x343&quality=96&sign=1eebaa9db49e8f8874b08632c2f82b80&type=album' style="height: 55px; margin-right: 20px">
        </a>
        <button nz-button nzType="primary" nzShape="round" class="menu-button rounded centered-content">
          <span nz-icon nzType="bars" class="m-icon"></span>
          <span>Каталог</span>
        </button>
        <app-search></app-search>
        <nz-badge [nzCount]="9" [nzShowZero]="false" [nzOffset]="[-5, 5]">
          <button nz-button nzType="primary" nzShape="circle" class="cart-button">
            <span nz-icon nzType="shopping-cart" nzTheme="outline" class="m-icon menu-icon"></span>
          </button>
        </nz-badge>
      </div>
    </div>
  </div>
</div>
