<nz-layout class="layout">
  <div class="header">
    <div *ngIf="windowService.windowSize >= windowSize.lg">
      <div #header_top>
        <app-header-top></app-header-top>
      </div>
      <div #header_search [ngClass]="{'top-fixed': scrollY > header_top!.offsetHeight}">
        <app-header-search></app-header-search>
      </div>
    </div>
    <div *ngIf="windowService.windowSize < windowSize.lg">
      <app-header-mobile></app-header-mobile>
    </div>
  </div>
  <nz-content>
    <app-content></app-content>
  </nz-content>
  <nz-back-top *ngIf="windowService.windowSize >= windowSize.lg" [nzTemplate]="tpl" [nzVisibilityHeight]="50">
    <ng-template #tpl>
      <div class="up-button">
        <span nz-icon nzType="arrow-up" nzTheme="outline" class="m-icon"></span>
      </div>
    </ng-template>
  </nz-back-top>
  <nz-footer>
    <app-footer-content></app-footer-content>
    <div class="bottom-fixed" *ngIf="windowService.windowSize < windowSize.lg">
      <app-bottom-menu></app-bottom-menu>
    </div>
  </nz-footer>
</nz-layout>
