<div class="bottom-menu-container">
  <div class="inner-bottom-menu-container">
    <div nz-row class="menu-row">
      <div nz-col nzSpan="8" class="menu-column">
        <a nz-button nzSize="default" nzType="link" class="menu-button">
          <span nz-icon nzType="home" nzTheme="outline" class="icon"></span>
          <div class="menu-title">Главная</div>
        </a>
      </div>
      <div nz-col nzSpan="8" class="menu-column">
        <a nz-button nzSize="default" nzType="link" class="menu-button">
          <span nz-icon nzType="bars" nzTheme="outline" class="icon"></span>
          <div class="menu-title">Каталог</div>
        </a>
      </div>
      <div nz-col nzSpan="8" class="menu-column">
        <a nz-button nzSize="default" nzType="link" class="menu-button">
          <span nz-icon nzType="shopping-cart" nzTheme="outline" class="icon"></span>
          <div class="menu-title">Корзина</div>
        </a>
      </div>
    </div>
  </div>
</div>
